nav {
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 22px 30px;
}

section {
  padding: 20px;
  display: flex;
  flex-flow: column;
}

section img {
  align-self: center;
  max-width: 80%;
}

section h1 {
  margin-bottom: 1rem;
}

section p {
  margin-top: 0px;
}
